.pytest_cache/*
.venv/*
*.swp
build/*
dist/*
*/*.egg-info
*/__pycache__/*
*/**/__pycache__/*
.coverage
coverage.xml
pytest.xml
htmlcov/*
envvars
envvars.mine
cc-test-reporter
cache
node_modules/*
log.html
output.xml
report.html
